# Preliminary: Install and Important Packages

In [ ]:
import numpy as np 
import pandas as pd

# Import Data

In [ ]:
# Import the CSV file
BTC_daily = pd.read_csv('https://raw.githubusercontent.com/yutongquan/STATS201_Problem_Set_2/main/Data/queried_data/currency_daily_BTC_USD.csv')
BTC_daily.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2022/11/27,16457.61,16503.91,16446.59,16489.81,11754.33237,11754.33237
1,2022/11/26,16521.35,16701.99,16385.00,16458.57,181804.81670,181804.81670
2,2022/11/25,16599.55,16666.00,16342.81,16522.14,182089.49530,182089.49530
3,2022/11/24,16603.11,16812.63,16458.05,16598.95,206565.92350,206565.92350
4,2022/11/23,16227.96,16706.00,16160.20,16603.11,264927.70410,264927.70410